<h1>Articles</h1>

<p *ngIf="!articles"><em>Loading...</em></p>

<a class="nav-link" [routerLink]='["edit-article", 0]'>Add new article</a>

<div>
  <label>Search articles</label>
  <input type="text" (input)="onSearchTermChange()" [(ngModel)]="searchTerm" />
</div>

<table class='table table-striped' *ngIf="articles">
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th>Id</th>
      <th>Title</th>
      <th>Description</th>
      <th>Category</th>
      <th>CreatedDateTime</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let article of articles">
      <td><a class="nav-link" [routerLink]='["edit-article", article.id]'>Edit</a></td>
      <td><a class="nav-link" href="#" (click)="delete(article)">Delete</a></td>
      <td>{{ article.id }}</td>
      <td>{{ article.title }}</td>
      <td>{{ article.description }}</td>
      <td>{{ categories[article.categoryId] && categories[article.categoryId].name }}</td>
      <td>{{ article.createdDateTime | date: 'short' }}</td>
    </tr>
  </tbody>
</table>

<div>
  <a class="nav-link d-inline" href="#" (click)="selectPreviousPage()" [class.disabled]="selectedPage === 1">Previous</a>
  <label>Page</label>
  <select [(ngModel)]="selectedPage" (ngModelChange)="onPageChange($event)">
    <option *ngFor="let page of numberOfPages" [ngValue]="page">{{ page }}</option>
  </select>
  <a class="nav-link d-inline" href="#" (click)="selectNextPage()" [class.disabled]="!numberOfPages || numberOfPages.length === 0 || selectedPage === this.numberOfPages.slice(-1)[0]">Next</a>
</div>

